/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Homemade+Apple&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/* Base styles for mobile first */
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 25px;
    
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #32012F;
    color: #333;
  }

  a{
    text-decoration: none;
    
  }
  
/* Header */
.fixed-header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: 1000;
  }
  
  /* Glassmorphism Effect */
  .header {
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black */
    backdrop-filter: blur(1px); /* Blur effect */
  }
  
  /* Header Content */
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }
  
  /* Company name */
  .berkshire-hathaway-button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    margin-top: 20px;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .berkshire-hathaway-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .berkshire-hathaway-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .berkshire-hathaway-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

  
   /* Address Card */
  .address-card {
    width: 164px;
    height: auto;
    margin-top: 20px;
    background-image: linear-gradient(163deg, #E2DFD0 0%, #F97300 100%);
    border-radius: 20px;
    transition: all .3s;
    font-size: 20px;
   }
   
   .address-card1 {
    width: 150px;
    height: auto;
    background-color: #1a1a1a;
    border-radius:19px;
    transition: all .2s;
    color: white;
    padding: 7px;
    cursor:none;
   }
   
   .address-card1:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .address-card:hover {
    box-shadow: 0px 0px 30px 1px #e2dfd0bd;
   }
  
  /* Message Section */

  .grid-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    padding-top: 10%;
  }
  
  .message-content {
    padding-left: 30px;
    grid-column: 1 / span 1;
    color: #e2dfd0;
  }
  
  .image-content {
    grid-column: 2 / span 1;
  }
  
  .message-content h3 {
    font-size: 1.5em;
  }
  
  .message-content p {
    margin: 10px 0;
  }

  .warren-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(63, 59, 59, 0.781);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .warren-image:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 25px rgba(63, 59, 59, 0.9);
  }

  /* Read-more button */
  .custom-button {
    text-decoration: none; 
    background: #F97300;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 19px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #F97300;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    width: 6em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .custom-button .custom-icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #b85601;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .custom-button:hover .custom-icon {
    width: calc(100% - 0.6em);
  }
  
  .custom-button .custom-icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #bd5902;
  }
  
  .custom-button:hover .custom-icon svg {
    transform: translateX(0.1em);
  }
  
  .custom-button:active .custom-icon {
    transform: scale(0.95);
  }


  /* Read it Button */
.read-it-button {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: transform 0.2s;
    font-family: "Homemade Apple", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
}

.read-it-button .read-it-button-top {
    position: relative;
    padding: 5px 10px;
    background: #F97300;
    border-radius: 5px;
    transform: translateY(-6px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.read-it-button:hover .read-it-button-top {
    transform: translateY(-12px);
}

/* .read-it-button1 .read-it-button-bottom,
.read-it-button1 .read-it-button-base,
.read-it-button2 .read-it-button-bottom,
.read-it-button2 .read-it-button-base {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 6px;
    background: #388E3C;
    border-radius: 5px;
    transition: background 0.2s;
}

.read-it-button1 .read-it-button-base,
.read-it-button2 .read-it-button-base {
    top: calc(100% + 6px);
    height: 10px;
    background: #2E7D32;
} */


/* .read-it-button:hover .read-it-button-bottom,
.read-it-button1:hover .read-it-button-bottom,
.read-it-button2:hover .read-it-button-bottom {
    background: #2E7D32;
} */

.card-container {
    display: inline-block;
    margin: 0 10px;
    perspective: 1000px; /* Perspective for 3D effect */
}

.card {
    width: 350px;
    height: 240px;
    border-radius: 15px;
    padding: 20px;
    background: #9c0292;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover {
    transform: rotateY(180deg); /* Rotate card on hover */
}

.front-content, .content {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.front-content {
    background: #32012F; /* Background for front side */
    color: #dad6d0;
}

.content {
    background: #ffd5ff; /* Background for back side */
    transform: rotateY(180deg); /* Hide back side initially */
}

.content .heading {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.content .read-it-button {
    margin: 10px 0;
}

.letters-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 10px;
    background: #E2DFD0;
}

.letters-section .card {
    margin: 20px 10px; /* Add margin between cards */
}



/* Updates & Miscellaneous Section */
.updates-miscellaneous {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.updates, .miscellaneous {
  background: #E2DFD0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.updates h2, .miscellaneous h2 {
  margin-top: 0;
}

.updates-card, .misc-card {
  margin-bottom: 10px;
  
}

/* Flash animation */
@keyframes flash {
  0% { background-color: #e4cfe2; }
  50% { background-color: #d15fca; }
  100% { background-color: #e4cfe2; }
}

/* Updates Card */
.updates-card {
  background-color: #bdb692;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  animation: flash 3s infinite alternate; /* Apply flash animation */
}

.updates-card:hover {
  transform: scale(1.05);
  animation-play-state: paused;
}

.updates-card a{
  color: black;
}


/* Miscellaneous Card */
.misc-card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 30px;
}

.misc-card a{
  color: black;
}

.misc-card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  color: #333;
}

.misc-card:hover {
  transform: scale(1.04) rotate(1deg);
}

.misc-circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#bd2fb3, #32012F);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

.misc-circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.misc-circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
      transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
      transform: translateY(10px);
  }
}
  

/* News Releases */
.news-releases-heading{
  margin-left: 20px;
  color: #aaa7a7;
}
/* Year Button */
.year-button {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px 12px;
  min-width: 10em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin-left: 20px;
}

.year-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding: 8px 16px;
  transform: translateY(0);
  text-align: center;
  color: #ffffff;
  text-shadow: 0 -1px rgba(0, 0, 0, .25);
  transition-property: transform;
  transition-duration: .2s;
  -webkit-user-select: none;
  user-select: none;
}

.year-top a{
  color: white;
}

.year-button:active .year-top {
  transform: translateY(6px);
}

.year-top::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background-image: radial-gradient(#F97300, #b35402);
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .2), 0 1px 2px 1px rgba(255, 255, 255, .2);
  transition-property: border-radius, padding, width, transform;
  transition-duration: .2s;
}

.year-button:active .year-top::after {
  border-radius: 6px;
  padding: 0 2px;
}

.year-bottom {
  position: absolute;
  z-index: -1;
  bottom: 4px;
  left: 4px;
  border-radius: 8px / 16px 16px 8px 8px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  box-sizing: content-box;
  background-color: #964702;
  background-image: radial-gradient(4px 8px at 4px calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(4px 8px at calc(100% - 4px) calc(100% - 8px), rgba(255, 255, 255, .25), transparent), radial-gradient(16px at -4px 0, white, transparent), radial-gradient(16px at calc(100% + 4px) 0, white, transparent);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 3px 3px rgba(0, 0, 0, .4);
  transition-property: border-radius, padding-top;
  transition-duration: .2s;
}

.year-button:active .year-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.year-base {
  position: absolute;
  z-index: -2;
  top: 4px;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, .75), inset 0 2px 2px rgba(0, 0, 0, .25);
}


  
  
  
  
 
 
  
  .advertisement {
    text-align: center;
    padding: 20px;
  }
  
  .advertisement img {
    max-width: 10%;
    height: auto;
  }
  
  .advertisement p {
    margin: 10px 0;
    font-size: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #2711113b;
    border-top: 1px solid #ddd;
  }
  
  .footer p {
    margin: 0px 0;
    font-size: 13px;
    color: #bdb692;
  }

  .footer .copyright{
    font-size: 15px;
    color: white;
  }

  .footer a{
    color: rgb(172, 132, 3);
  }
  
  hr {
    border: 0;
    height: 1px;
    background: #dddddd00;
    margin: 10px 0;
  }
  
  /* Media queries for larger screens
  @media (min-width: 600px) {
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 768px) {
    .header h1 {
      font-size: 2em;
    }
  
    .section-title {
      font-size: 1.5em;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  
    .link-list {
      display: flex;
      flex-wrap: wrap;
    }
  
    .link-list li {
      width: 48%;
      margin: 1%;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .advertisement img {
      width: 50%;
    }
  }
   */


   /* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(35, 2, 51, 0.5); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: rgb(250, 3, 3);
  text-decoration: none;
  cursor: pointer;
}

/* Background blur */
body.modal-open {
  overflow: hidden;
}

.modal-message-signature{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-top: 10px;
}

.modal-message{
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* text shnine */
.shine1{
  font-size: 2em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.432);
  background: #222 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
  );
  -webkit-background-clip: text;
  -webkit-background-size: 50px;
  -webkit-animation: zezzz;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes zezzz {
  0%,
  10% {
    background-position: -200px;
  }
  20% {
    background-position: top left;
  }
  100% {
    background-position: 200px;
  }
}
